* {
    margin: 0;
    padding: 0;
}

.main-box {
    width: 70%;
    margin: 20px auto;
    /* height: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8 {
    width: 20%;
    height: 150px;
    margin: 30px;
    background-color: #E60088;
}

.box-1 {
    box-shadow: 8px 8px 4px 1px #707B75;
}

.box-2 {
    box-shadow: 25px 25px 2px 2px #6E7271;
}

.box-3 {
    box-shadow: 20px 20px 7px 4px #6E7271;
}

.box-3 {
    box-shadow: 15px 20px 7px 4px #6E7271;
}

.box-4 {
    box-shadow: 35px 35px 7px 5px #6E7271;
}

.box-5 {
    box-shadow: 35px 35px 3px 3px #6E7271;
}

.box-6 {
    box-shadow: 20px 20px 17px 1px #6e7271;
}

.box-7 {
    box-shadow: -15px 15px 3px 3px #6E7271;
}

.box-8 {
    box-shadow: rgb(201 142 210) 19px 20px 6px 0px;
}